In [1]:
import math, copy
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data= pd.read_csv('air.csv')
data.head(5)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,3/10/2004,18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,3/10/2004,19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,3/10/2004,20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,3/10/2004,21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,3/10/2004,22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [2]:
# X = data.iloc[:, :-3].values  # Features
# y = data.iloc[:, -1].values   # Target

# X = np.array(X)  # Ensure X is a NumPy array
# y = np.array(y)  # Ensure y is a NumPy array
# w_init = np.array(w_init)  # Ensure w_init is a NumPy array
# num_features = X.shape[1]
# w_init = np.zeros(num_features)

# # Print the shapes to verify
# print("Shape of X:", X.shape)
# print("Shape of y:", y.shape)
# print(w_init)

In [11]:


def compute_cost(X, y, w):
    m = X.shape[0]
    predictions = np.dot(X, w)
    cost = np.sum((predictions - y) ** 2)
    return cost / (2 * m)

def compute_gradient(X, y, w):
    m = X.shape[0]
    X = np.array(X, dtype=np.float64)  # Ensure X is a NumPy array of type float64
    w = np.array(w, dtype=np.float64)  # Ensure w is a NumPy array of type float64
    predictions = np.dot(X, w)
    gradient = np.dot(X.T, (predictions - y)) / m
    return gradient

def gradient_descent(X, y, w_init, alpha, num_iters, cost_function, gradient_function):
    w = copy.deepcopy(w_init)
    cost_history = []
    
    for i in range(num_iters):
        gradient = gradient_function(X, y, w)
        w -= alpha * gradient
        
        cost = cost_function(X, y, w)
        cost_history.append(cost)
        
        if i % math.ceil(num_iters / 10) == 0:
            print(f"Iteration {i:4}: Cost {cost:0.2e}, Parameters: {w}")
    
    return w, cost_history

# Load your data
#data = pd.read_csv('your_dataset.csv')  # Replace 'your_dataset.csv' with your dataset filename

# Remove rows with non-numeric values
data_numeric = data.apply(pd.to_numeric, errors='coerce')
data_numeric = data_numeric.dropna()

# Separate features (X) and target (y) from the numeric data
X = data_numeric.iloc[:, :-3].values
y = data_numeric.iloc[:, -1].values

# Convert X, y, and w_init to NumPy arrays
X = np.array(X, dtype=np.float64)
y = np.array(y, dtype=np.float64)

# Initialize parameters
num_features = X.shape[1]
w_init = np.zeros(num_features, dtype=np.float64)  # Initialize weights to zeros or any other value

# Set hyperparameters
alpha = 0.0001
num_iters = 10000

# Run gradient descent
w_final, cost_history = gradient_descent(X, y, w_init, alpha, num_iters, compute_cost, compute_gradient)

# Calculate Mean Squared Error (MSE)
mse = compute_cost(X, y, w_final)
print("Final Mean Squared Error:", mse)

C:\Users\sadman\AppData\Local\Temp\ipykernel_15484\2527742986.py:12: RuntimeWarning: invalid value encountered in divide
  gradient = np.dot(X.T, (predictions - y)) / m
C:\Users\sadman\AppData\Local\Temp\ipykernel_15484\2527742986.py:5: RuntimeWarning: invalid value encountered in scalar divide
  return cost / (2 * m)

Iteration    0: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 1000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 2000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 3000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 4000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 5000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 6000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 7000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 8000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Iteration 9000: Cost nan, Parameters: [nan nan nan nan nan nan nan nan nan nan nan nan]
Final Mean Squared Error: nan